{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
</head>

<body>
    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="bt-option">
                            <a href="/">Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Something About Artist HUB</h2>
                        <p class="f-para"> Artist HUB is a platform that helps to connect talented musicians with music industry professionals. </p>
                        <p>This platform provides musicians with the tools and resources they need to succeed in the music industry, from networking opportunities to industry advice. Artist HUB Musicians also provides a supportive community of fellow musicians who are passionate about their craft and are dedicated to helping each other reach their full potential. Artist HUB Musicians is a great resource for musicians to find career opportunities, hone their craft, and make connections in the music industry.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="{% static 'img/darshan.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h3>About Artist Hub</h3>
                        <p>Welcome to Artist Hub! We are a creative platform dedicated to connecting and inspiring all types of artists from around the world. <br><br>
                            Whether you’re an aspiring artist, an established professional, or somewhere in between, Artist Hub is here to help. Our mission is to provide a space where artists of all disciplines can come together to showcase their work, build relationships, and gain inspiration from each other.<br>
                            <b>At Artist Hub, we understand how important it is for artists to have a platform for their work. We offer a variety of tools to help you display your art, get exposure, and make connections.</b><br>
                            At Artist Hub, we believe in the power of art. Our goal is to provide a safe and open environment for creators to express themselves and to feel supported. We look forward to seeing the amazing artwork you create!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Team Member Section Begin -->
    <section class="team-member-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Artists </h2>
                        <p>These are our Artists, you can see each person information</p>
                    </div>
                </div>
            </div>
        </div>
        {% for i in artists %}
        <div class="member-item set-bg" data-setbg="{{ i.profile_pic.url }}">
            <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="mi-text">
                <h5>{{ i.fname }} {{ i.lname }}</h5>
                <span>Singer</span>
            </div>
        </div>
        {% endfor %}
        
    </section>
    <!-- Team Member Section End -->

    <!-- Story Section Begin -->
    <section class="story-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Story</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="story-left">
                        <div class="story-item">
                            <h2>2008</h2>
                            <div class="si-text">
                                <h4>Adwords Keyword Research For Beginners</h4>
                                <p>However this is also the most expensive position. Give it a try if the second to fourth display position gives you more visitors and more customers for less money.</p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2011</h2>
                            <div class="si-text">
                                <h4>Adwords Keyword Research For Beginners</h4>
                                <p>Virgin Mobile took a more effective approach in marketing their cell phone service by focusing not on the people that would be making the actual purchase.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="story-right">
                        <div class="story-item">
                            <h2>2015</h2>
                            <div class="si-text">
                                <h4>15 Tips To Increase Your Adwords Profits</h4>
                                <p>There is no better advertisement campaign that is low cost and also successful at the same time. Great business ideas when utilized effectively can save lots of money.</p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2019</h2>
                            <div class="si-text">
                                <h4>Advertising Internet Online Opportunities To Explore</h4>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few places and then wait for the money to start pouring in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Story Section End -->

    

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Testimonials</h2>
                        <p>Our customers are our biggest supporters. What do they think of us?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="testimonial-slider owl-carousel">
                            <div class="col-lg-6">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src="{% static 'img/quote.png' %}" alt="">
                                        </div>
                                        <div class="ta-pic">
                                            <img src="{% static 'img/testimonial/sachin.jpg' %}" alt="">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Sachin Tendulkar</h5>
                                            <span>Event Manager @ Jay Bhole Event</span>
                                        </div>
                                    </div>
                                    <p>“I recently had the pleasure of hiring a musician from Artist Hub for an event. I was so impressed by the quality of the musicians they provided. They were professional, talented, and very easy to work with. The music was top-notch and the audience was truly impressed.”</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src="{% static 'img/quote.png' %}" alt="">
                                        </div>
                                        <div class="ta-pic">
                                            <img src="{% static 'img/testimonial/viru.jpg' %}" alt="">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Virendra Sehwag</h5>
                                            <span>CEO @ Viru Event Management Company</span>
                                        </div>
                                    </div>
                                    <p>“The musicians were very accommodating to our needs, and they even took requests from the audience. Everyone had a great time and we were all very satisfied with the service we received from Artist Hub. I would highly recommend their services.”</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src="{% static 'img/quote.png' %}" alt="">
                                        </div>
                                        <div class="ta-pic">
                                            <img src="{% static 'img/testimonial/testimonial-2.jpg' %}" alt="">
                                        </div>
                                        <div class="ta-text">
                                            <h5>John Smith</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“There is no denying the fact that the success of an advertisement lies mostly in the headline. The headline should attract the reader and make him read the rest of the advertisement.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

   
</body>

</html>
{% endblock %}