{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
</head>

<body>

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="{% static 'img/artist_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        
                        <h2>Music touches us emotionally<br> where <br>Words alone can’t</h2>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    
    <!-- Home About Section Begin -->
    <section class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="{% static 'img/darshan.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>About Artist Hub</h2>
                        <p>Welcome to Artist Hub! We are a creative platform dedicated to connecting and inspiring all types of artists from around the world. <br><br>
                            Whether you’re an aspiring artist, an established professional, or somewhere in between, Artist Hub is here to help. Our mission is to provide a space where artists of all disciplines can come together to showcase their work, build relationships, and gain inspiration from each other.<br>
                            <b>At Artist Hub, we understand how important it is for artists to have a platform for their work. We offer a variety of tools to help you display your art, get exposure, and make connections.</b><br>
                            At Artist Hub, we believe in the power of art. Our goal is to provide a safe and open environment for creators to express themselves and to feel supported. We look forward to seeing the amazing artwork you create!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->

    <!-- Team Member Section Begin -->
    <section class="team-member-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Artists </h2>
                        <p>These are our Artists, you can see each person information</p>
                    </div>
                </div>
            </div>
        </div>
        {% for i in artists %}
        <div class="member-item set-bg" data-setbg="{{ i.profile_pic.url }}">
            <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="mi-text">
                <h5>{{ i.fname }} {{ i.lname }}</h5>
                <span>Singer</span>
            </div>
        </div>
        {% endfor %}
        
    </section>
    <!-- Team Member Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Location</h2>
                        <p>Get directions to our Event Office center</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Address:</span>
                            <p><b>Palash 80</b>, Opp Sadhi Mata Temple,<br> Old Motera Road,Ahmedabad,<br> Gujarat 382424</p>
                        </div>
                        <ul>
                            <li>
                                <span>Phone:</span>
                                (+91) 7801950401
                            </li>
                            <li>
                                <span>Email:</span>
                                Pythondeveloper2035@gmail.com
                            </li>
                        </ul>
                        <div class="ct-links">
                            <span>Website:</span>
                            <p>https://sagarsonara2143.pythonanywhere.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                        <iframe
                            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Palash%2080,%20Opp%20Sadhi%20Mata%20Temple,%20Old%20Motera%20Road+(Palash%2080)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                            height="450" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

</body>

</html>
{% endblock %}