{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
      td{
    font-size: 20px;
    padding:5px;
    }
  </style>
</head>
<body>
<div class="col-lg-12">
    <div class="breadcrumb-text">
    <h2>PROFILE</h2>
      <div class="bt-option">
      <a href="/">Home</a>
      <span>Profile</span>
      </div>
    </div>
</div>

<br>
  <div class="breadcrumb-text">
  {% if msg %}
    <h4>{{ msg }}</h4>
  {% endif %}        
  </div>

<form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <table width="70%" align="center">
      {% if customer %}
      <tr>
        <td width="25%">First Name </td>
        <td><input type="text" name="fname" class="form-control" value="{{ customer.fname }}"></td>
      </tr>

      <tr>
        <td>Last Name </td>
        <td><input type="text" name="lname" class="form-control" value="{{ customer.lname }}" ></td>
      </tr>

      <tr>
        <td>Email ID </td>
        <td><input type="text" name="email" class="form-control" id="email" value="{{ customer.email }}" readonly></td>
        <span id="email_error"></span>
      </tr>

      <tr>
        <td>Mobile Number </td>
        <td><input type="text" name="mobile" class="form-control" id="mobile" value="{{ customer.mobile }}"readonly></td>
        <span id="mobile_error"></span>
      </tr>

      <tr>
        <td>Address </td>
        <td><input type="textarea" name="address" class="form-control" value="{{ customer.address }}">
      </tr>
      <tr>
          
          <td colspan="2" align="center"><img src="{{ customer.profile_pic.url }}" width="100px" height="100px"></td>
      </tr>
      <tr>
          <td>Profile Picture</td>
          <td class="form-control"><input class="input" type="file" name="profile_pic" ></td>
      </tr>    

      <tr>
        <td colspan="2" align="center" >
          <input type="submit" name="action" value="UPDATE PROFILE" class="btn btn-primary btn-block" style="width:100%">
        </td>
      </tr>

      {% else %}

      <tr>
        <td width="25%">First Name </td>
        <td><input type="text" name="fname" class="form-control" value="{{ artist_get.fname }}"></td>
      </tr>

      <tr>
        <td>Last Name </td>
        <td><input type="text" name="lname" class="form-control" value="{{ artist_get.lname }}" ></td>
      </tr>

      <tr>
        <td>Email ID </td>
        <td><input type="text" name="email" class="form-control" id="email" value="{{ artist_get.email }}" readonly></td>
        <span id="email_error"></span>
      </tr>

      <tr>
        <td>Mobile Number </td>
        <td><input type="text" name="mobile" class="form-control" id="mobile" value="{{ artist_get.mobile }}"readonly></td>
        <span id="mobile_error"></span>
      </tr>

      <tr>
        <td>About </td>
        <td><input type="textarea" name="about" class="form-control" value="{{ artist_get.about }}" >
      </tr>
      <tr>
          
          <td colspan="2" align="center"><img src="{{ artist_get.profile_pic.url }}" width="100px" height="100px"></td>
      </tr>
      <tr>
          <td>Profile Picture</td>
          <td class="form-control"><input class="input" type="file" name="profile_pic" ></td>
      </tr>    

      <tr>
        <td colspan="2" align="center" >
          <input type="submit" name="action" value="UPDATE PROFILE" class="btn btn-primary btn-block" style="width:100%">
        </td>
      </tr>

      {% endif %}

</table> 
</form>     
</center>

<script>
      $("#mobile").change(function(){
        var mobile=$(this).val();

        $.ajax({
          url: '/ajax/validate_mobile/',
          data:{
            'mobile':mobile
          },
          dataType:'json',
          success:function(data){
            if (data.is_taken){
              document.getElementById("mobile_error").innerHTML="This Mobile Number is Already Registered";
            }
            else{
              document.getElementById("mobile_error").innerHTML="";
            }
          }
        });
      });
    </script>
    <script>
      $("#cpwd").change(function(){
        
        var pwd=$("#pwd").val();
        var cpwd=$("#cpwd").val();

        $.ajax({
          url: '/ajax/validate_pwd/',
          data:{
            'pwd':pwd,
            'cpwd':cpwd
          },
          dataType:'json',
          success:function(data){
            if (data.is_taken){
              document.getElementById("confirm_pwd_error").innerHTML="Password & Confirm Password does not matched";
            }
            else{
              document.getElementById("confirm_pwd_error").innerHTML="";
            }
          }
        });
      });
    </script>

    <script> 
      $("#email").change(function(){
        var email=$(this).val();

        $.ajax({
          url: '/ajax/validate_email/',
          data:{
            'email':email
          },
          dataType:'json',
          success:function(data){
            if (data.is_taken){
              document.getElementById("email_error").innerHTML="This Email is Already Registered";
            }
            else{
              document.getElementById("email_error").innerHTML="";
            }
          }
        });
      });

    </script>

</body>
</html>

{% endblock %}