{% extends 'bash.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
      td{
		font-size: 20px;
		color: darkblue;
		padding:5px;
		}
  </style>
</head>
<body>
<br>
<br>
<center>
<h1>Welcome to Digital Society</h1>

{% if msg %}
	<b style="color:Green">{{msg}}</b>
{% endif %}
<form method="POST" action="{% url 'member-index' %}">
		{% csrf_token %}
			<table>
			<tr>
				<td style=font-size:20px>Email ID </td>
				<td><input type="text" name="email" class="form-control" placeholder="Enter Email" required></td>
			</tr>

			<tr>
				<td style=font-size:20px> Password</td>
				<td><input type="password" name="password" class="form-control" placeholder="Enter Password"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="right">
					<a href="#"><input type="button" name="action" value="Forgot Password ?" class="btn btn-link"></a>
				</td>
			</tr>


			<tr>
				<td colspan="2" align="center" >
					<a href="#"><input type="submit" name="action" value="LOGIN" class="btn btn-primary btn-block" style="width:100%"></a>
				</td>
			</tr>

			<tr>
				<td colspan="2" align="right">Not a Member ?
					<a href="{% url 'signup' %}"><input type="button" name="action" value="Register ?" class="btn btn-link"></a>
				</td>
			</tr>
			
</center>
</body>
</html>
{% endblock %}