{% extends 'bash.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>

<br>
<h1 align="center">Watchman List</h1>

	<table border="5" width="100%" cellpadding="10px" cellspacing="10px">

	<tr>
		
		<th border="">Watchman Name</th>
		<th>House Number</th>
		<th>Profile Pic</th>
		<th>Mobile</th>
		<th>Email</th>

	</tr>

	
	{% if user %}
	
	<tr>
		
		<td>{{user.fname}} {{user.lname}}</td>
		<td>{{user.house}}</td>
		<td><img src="{{ user.profile_pic.url }}" alt="" width="200px" height="200px"></td>
		<td>{{ user.mobile }}</td>					
		<td>{{ user.email}}</td>
	</tr>
	
	{% endif %}
	
</table>

</body>
</html>
{% endblock %}