{% extends 'bash.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>

<br>
<h1 align="center">Watchman List</h1>

	<table border="5" width="100%" cellpadding="10px" cellspacing="10px">

	<tr>
		
		<th border="">Watchman Name</th>
		<th>Cabin</th>
		<th>Profile Pic</th>
		<th>Mobile</th>
		<th>Email</th>

	</tr>

	{% for i in data %}
	
	<tr>
		
		<td>{{i.fname}} {{i.lname}}</td>
		<td>{{i.house}}</td>
		<td><img src="{{ i.profile_pic.url }}" alt="" width="200px" height="200px"></td>
		<td>{{ i.mobile }}</td>					
		<td>{{ i.email}}</td>
	</tr>
	
	{% endfor %}
	
</table>

</body>
</html>
{% endblock %}