{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
</head>
<body>

<center>
<h1>Welcome to Login page</h1>

{% if msg %}
	<b style="color:Green">{{msg}}</b>
{% endif %}
<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
			<table>
			<tr>
				<td style=font-size:20px>Email</td>
				<td><input type="text" name="email" class="form-control" placeholder="Enter Email" required></td>
			</tr>

			<tr>
				<td style=font-size:20px>Password</td>
				<td><input type="password" name="password" class="form-control" placeholder="Enter Password"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="right">
					<a href="{% url 'forgot-password' %}"><input type="button" name="action" value="Forgot Password ?" class="btn btn-link"></a>
				</td>
			</tr>

			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="action" value="LOGIN" class="btn btn-primary">
				</td>
			</tr>
</center>
</body>
</html>
{% endblock %}