{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<body>
		<script src="https://js.stripe.com/v3/"></script>
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="first-name" value="{{ user.fname }}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="last-name" value="{{ user.lname }}">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" value="{{ user.email }}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" value="{{ user.address }}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" value="{{ user.city }}">
							</div>
							
							<div class="form-group">
								<input class="input" type="text" name="zip-code" value="{{ user.zipcode }}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="mobile" value="{{ user.mobile }}">
							</div>
								
						</div>
						<!-- /Billing Details -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							{% for i in carts %}
							<div class="order-products">
								<div class="order-col">
									<div>{{i.product_qty}} X {{i.product.product_name}}</div>
									<div>₹ {{i.total_price}}</div>
								</div>
							</div>
							{% endfor %}
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">₹ {{ net_price }}</strong></div>
							</div>
						
						</div>
						<form method="post">
							<input type="hidden" name="amount" id="net_price" value="{{ net_price}}">
							<button type="button" class="primary-btn order-submit" id="checkout-button">Place Order</button>
						</form>
						
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

<script type="text/javascript">

 // Create an instance of the Stripe object with your publishable API key
 var stripe = Stripe('pk_test_51N69xBSI6NwQjoqE3GrxVvvd4SyYwSbcVhtDlHKJinBghbsuJGOB5BW4bYyjAXTPLOfdw7BgcRG7f5rMVUTqJUmW008AYrvF9s');
 var checkoutButton = document.getElementById('checkout-button');

 checkoutButton.addEventListener('click', function() {
 	
 // Create a new Checkout Session using the server-side endpoint you
 // created in step 3.
 fetch('/create-checkout-session/', {
 method: 'POST',

 	headers:{
 		'Accept':'application/json',
 		'X-Requested-With':'XMLHttpRequest',
 	},
 	body: JSON.stringify({'post_data':'{{ net_price }}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
 </script>


	</body>
</html>
{% endblock %}