{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

    </head>
	<body>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Forgot Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">Forgot Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Forgot Password</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							<form name="login" method="POST" action="{% url 'forgot-password' %}">
								{% csrf_token %}
							<div class="form-group">
								<input class="input" type="text" name="mobile" id="mobile" placeholder="Mobile Number" required>
								<span id="mobile_error"></span>
							</div>
							<div class="form-group" align="center">
								<input class="btn btn-primary" type="submit" value="SEND OTP">
							</div>

							</form>
						</div>
						<!-- /Billing Details -->
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<script>
			$("#mobile").change(function(){
				var mobile=$(this).val();

				$.ajax({
					url: '/ajax/validate_mobile/',
					data:{
						'mobile':mobile
					},
					dataType:'json',
					success:function(data){
						if (!data.is_taken){
							document.getElementById("mobile_error").innerHTML="This Mobile Number is not Registered";
						}
						else{
							document.getElementById("mobile_error").innerHTML="";
						}
					}
				});
			});
		</script>

	</body>
</html>
{% endblock %}