{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<body>

		

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							{% if purchased_carts %}
								<h3 class="title">My Order</h3>
							{% else %}
								<h3 class="title">No Items Purchesed Yet</h3>
							{% endif %}
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for i in purchased_carts %}
										<div class="product">
											<div class="product-img">
												<img src="{{ i.product.product_image.url }}" alt="" width="200px" height="200px">
												<div class="product-label">
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ i.product.product_cat }}</p>
												
												<h3 class="product-name"><a href="#">{{ i.product.product_name }}</a></h3>
												
												<h4 class="product-price">Price : ₹ {{ i.product.product_price }}</h4>

												<h3 class="product-name"><a href="#">{{ i.product.product_desc }}</a></h3>
												
												<form name="change_qty" method="post" action="{% url 'change-cart-qty' %}">
													{% csrf_token %}
													<h4 class="product-price">Quantity : <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="50" onchange="this.form.submit();" readonly></h4>
													<input type="hidden" name="cart_id" value="{{i.pk}}">	
													
												</form>

												<h4 class="product-price">Total Price : ₹ {{ i.total_price }}</h4><br>
												
											</div>
										</div>
										{% endfor %}
										<!-- /product -->

									</div>

									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
						
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->			
		<br>
	</body>
</html>
{% endblock %}