{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

    </head>
	<body>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">New Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">New Password</li>
							<li class="active">New Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">New Password</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							<form name="newpassword" method="POST" action="{% url 'new-password' %}">
								{% csrf_token %}
							
							<div class="form-group">
								<input type="hidden" name="mobile" value="{{ mobile }}">
								<input class="input" type="password" name="new_password" placeholder="Enter New Password" required>
							</div>

							<div class="form-group">
								<input class="input" type="password" name="cnew_password" placeholder="Enter Confirm New Password" required>
							</div>
							<div class="form-group" align="center">
								<input class="btn btn-primary" type="submit" value="Update Password">
							</div>

							</form>
						</div>
						<!-- /Billing Details -->
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	</body>
</html>
{% endblock %}