{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

    </head>
	<body>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Profile</h3>
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'seller-index' %}">Home</a></li>
							<li class="active">Profile</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->
		
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Profile</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							
							<form name="profile" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
								{% csrf_token %}

							<div class="form-group" align="center">
								<select class="input" name="usertype">
									<option>---Select User type---</option>
									<option value="buyer">Buyer</option>
									<option value="seller" selected>Seller</option>
								</select>		
							</div>

							<div class="form-group" >
								<input class="input" type="text" name="fname" value="{{ user.fname }}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="lname" value="{{ user.lname }}">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" value="{{ user.email }}" readonly>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="mobile" value="{{ user.mobile }}">
							</div>
							<div class="form-group">
								<input class="input" type="textarea" name="address" value="{{user.address}}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" value="{{user.city}}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zipcode" value="{{user.zipcode}}">
							</div>
							<div class="form-group">
								<img src="{{ user.profile_pic.url }}" height="50px" width="50px">
							</div>
							<div class="form-group">
								<input class="input" type="file" name="profile_pic">
							</div>
							<div class="form-group" align="center">
								<input class="btn btn-primary" type="submit" value="Update Profie">
							</div>

							</form>

						</div>
						<!-- /Billing Details -->
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	</body>
</html>
{% endblock %}