{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

    </head>
	<body>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Sign Up</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Sign Up</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Sign Up Page</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							<form name="signup" method="POST" action="{% url 'signup' %}">
								{% csrf_token %}
							<div class="form-group">
								<input class="input" type="text" name="fname" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="lname" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="mobile" placeholder="Mobile Number">
							</div>
							<div class="form-group">
								<input class="input" type="textarea" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="City">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zipcode" placeholder="ZIP Code">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" placeholder="Password">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="cpassword" placeholder="Confirm Password">
							</div>
							<div class="form-group" align="center">
								<input class="btn btn-primary" type="submit" value="SIGNUP">
							</div>

							</form>
						</div>
						<!-- /Billing Details -->
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	</body>
</html>
{% endblock %}