{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

    </head>
	<body>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Sign Up</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">Sign Up</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->
		
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Sign Up Page</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							
							<form name="signup" method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
								{% csrf_token %}
							<div class="form-group" align="center">
								<select class="input" name="usertype">
									<option>---Select User type---</option>
										<option value="buyer">Buyer</option>
									<option value="seller">Seller</option>
								</select>
							</div>
							<div class="form-group" align="center">
								<input class="input" type="text" name="fname" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="lname" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" id="email" placeholder="Email">
								<span id="email_error"></span>
							</div>
							<div class="form-group">
								<input class="input" type="text" id="mobile" name="mobile" placeholder="Mobile Number">
								<span id="mobile_error"></span>
							</div>
							<div class="form-group">
								<input class="input" type="textarea" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="City">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zipcode" placeholder="ZIP Code">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" id="pwd"placeholder="Password">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="cpassword" id="cpwd" placeholder="Confirm Password">
								<span id="confirm_pwd_error"></span>
							</div>
							<div class="form-group">
								<input class="input" type="file" name="profile_pic">
							</div>
							<div class="form-group" align="center">
								<input class="btn btn-primary" type="submit" value="SIGNUP">
							</div>

							</form>

						</div>
						<!-- /Billing Details -->
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<script>
			$("#mobile").change(function(){
				var mobile=$(this).val();

				$.ajax({
					url: '/ajax/validate_mobile/',
					data:{
						'mobile':mobile
					},
					dataType:'json',
					success:function(data){
						if (data.is_taken){
							document.getElementById("mobile_error").innerHTML="This Mobile Number is Already Registered";
						}
						else{
							document.getElementById("mobile_error").innerHTML="";
						}
					}
				});
			});
		</script>
		<script>
			$("#cpwd").change(function(){
				
				var pwd=$("#pwd").val();
				var cpwd=$("#cpwd").val();

				$.ajax({
					url: '/ajax/validate_pwd/',
					data:{
						'pwd':pwd,
						'cpwd':cpwd
					},
					dataType:'json',
					success:function(data){
						if (data.is_taken){
							document.getElementById("confirm_pwd_error").innerHTML="Password & Confirm Password does not matched";
						}
						else{
							document.getElementById("confirm_pwd_error").innerHTML="";
						}
					}
				});
			});
		</script>

		<script> 
			$("#email").change(function(){
				var email=$(this).val();

				$.ajax({
					url: '/ajax/validate_email/',
					data:{
						'email':email
					},
					dataType:'json',
					success:function(data){
						if (data.is_taken){
							document.getElementById("email_error").innerHTML="This Email is Already Registered";
						}
						else{
							document.getElementById("email_error").innerHTML="";
						}
					}
				});
			});

		</script>   
	</body>
</html>
{% endblock %}