<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
<script type="text/javascript">
	function checkFname() 
		{
			var f=document.frm.fname.value;
			var re=/^[A-Za-z]+$/;
			if (f=="")
			{
				document.getElementById('fname').innerHTML="Enter First Name";
			}
			else if(!re.test(f))
			{
				document.getElementById('fname').innerHTML="Enter Only Alphabets";
			}
			else
			{
				document.getElementById('fname').innerHTML="";
			}
		}




</script>
</head>
<body>


</body>
</html>