{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<body>

		

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							{% if wishlists %}
								<h3 class="title">My Wishlist</h3>
							{% else %}
								<h3 class="title">No Items in your Wishlist</h3>
							{% endif %}
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for i in wishlists %}
										<div class="product">
											<div class="product-img">
												<img src="{{ i.product.product_image.url }}" alt="" width="200px" height="200px">
												<div class="product-label">
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ i.product.product_cat }}</p>
												
												<h3 class="product-name"><a href="#">{{ i.product.product_name }}</a></h3>
												
												<h4 class="product-price">₹ {{ i.product.product_price }}</h4>

												<h3 class="product-name"><a href="#">{{ i.product.product_desc }}</a></h3>
												
												
												
												<div class="product-btns">
													
													<a href="{% url 'remove-from-wishlist' pk=i.product.pk %}"><input type="button" class="btn btn-danger" value="REMOVE FROM WISHLIST"></a><br><br>
												
													<a href="{% url 'add-to-cart' pk=i.product.pk %}"><input type="button" class="btn btn-primary" value="ADD TO CART"></a>
												</div>
												
											</div>
										</div>
										{% endfor %}
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	</body>
</html>
{% endblock %}